.header {
  height: 30px;
  width: 100%;
  background-color: $blue;
  &__text {
  color: $white;
  text-align: center;
  line-height: 30px;
  }
}

.side-bar {
  background-color: #2f3e51;
  width: 300px;
  height: calc(100vh - 30px);
  float: left;
  .head {
    height: 100px;
    background-color: #253141;
    position: relative;
    &__name {
      font-size: 16px;
      padding-left: 20px;
      line-height: 100px;
      color: $white;
    }
    &__lists {
      display: flex;
      position: absolute;
      top: 40px;
      right: 20px;
      .icon {
        color: $white;
      }
    }
  }
  &__group {
    font-size: 15px;
    font-style: bold;
    color: $white;
    padding-left: 20px;
    padding-top: 20px;
  }
  &__text {
    font-size: 11px;
    font-style: bold;
    padding: 5px 20px 40px;
    color: $white;
  }
}

.contents {
  padding-left: 300px;
  width: calc(100vw - 300px);
  height: calc(100vh - 30px);
  &__top{
    width: 100%;
    height: 100px;
    border-bottom: solid #eeeeee;
    border-width: 1px;
    position: relative;
    &__group {
      font-size: 20px;
      color: #333333;
      float: left;
      position: absolute;
      top: 35px;
      left: 40px;
    }
    &__edit {
    float: right;
    font-size: 20px;
    border: solid;
    border-width: 1px;
    color: $blue;
    position: absolute;
    top: 28px;
    right: 40px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    }
    &__menber {
      font-size: 12px;
      color: $right-gray;
      position: absolute;
      top: 70px;
      left: 40px;
    }
  }

  &__main {
    background-color: $white;
    height: 560px;
    width: 100%;
    &__texts {
      height: 65px;
      &-1 {
        padding-top: 46px;
        padding-left: 40px;
        float: left;
      }
      &-2 {
        padding-top: 50px;
        padding-left: 10px;
        float: left;
        font-size: 12px;
        color: $right-gray;
      }
    }
    &__texts2 {
      &-1{
        padding-top: 10px;
        padding-left: 40px;
      }
      &-2 {
        padding-top: 40px;
        padding-left: 40px;
        font-size: 16px;
        font-style: bold;
        color: $gray;
      }
      &-3 {
        padding-top:  20px;
        padding-left: 40px;
        color: $gray;
        font-size: 14px;
      }
    }
  }

  &__form {
    background-color: #D3D3D3;
    height: 100px;
    bottom: 0;
    position: relative;
    .input-box {
      padding-top: 25px;
      padding-left: 40px;
      position: relative;
      &__text {
        height: 50px;
        width: 900px;
      }
      &__image {
        position: absolute;
        top: 40px;
        right: 210px;
        z-index: 1;
        &__file {
          display: none;
        }
      }
    }
    .submit-btn {
      background-color: $blue;
      color: $white;
      height: 50px;
      width: 100px;
      position: absolute;
      top: 25px;
      right: 40px;
    }
  }
}